<p id="notice"><%= notice %></p>

<p>
  <strong>Poradi:</strong>
  <%= @c_titul.poradi %>
</p>

<p>
  <strong>Kod:</strong>
  <%= @c_titul.kod %>
</p>

<p>
  <strong>Nazev:</strong>
  <%= @c_titul.nazev %>
</p>

<%= link_to 'Edit', edit_c_titul_path(@c_titul) %> |
<%= link_to 'Back', c_tituls_path %>
