<h1>Listing c_rodinny_stavs</h1>

<table>
  <thead>
    <tr>
      <th>Poradi</th>
      <th>Kod</th>
      <th>Nazev</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @c_rodinny_stavs.each do |c_rodinny_stav| %>
      <tr>
        <td><%= c_rodinny_stav.poradi %></td>
        <td><%= c_rodinny_stav.kod %></td>
        <td><%= c_rodinny_stav.nazev %></td>
        <td><%= link_to 'Show', c_rodinny_stav %></td>
        <td><%= link_to 'Edit', edit_c_rodinny_stav_path(c_rodinny_stav) %></td>
        <td><%= link_to 'Destroy', c_rodinny_stav, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New C rodinny stav', new_c_rodinny_stav_path %>
